<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Forcasting Tool</title>
    <!-- Bootstrap Core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/metisMenu.css" rel="stylesheet">
    <link href="css/sb-admin-2.css" rel="stylesheet"/>
    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="css/jsTree/themes/default/style.min.css" rel="stylesheet"/>
    <link href="css/toaster.css" rel="stylesheet"/>
    <link href="css/ui-grid.css" rel="stylesheet"/>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="js/jquery-2.2.3.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-busy.js"></script>
    <script src="js/jsTree3/jstree.min.js"></script>
    <script src="js/toaster.js"></script>
    <script src="js/underscore.min.js"></script>
    <script src="js/ngJsTree.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/treeCtrl.js"></script>
    <script src="js/tabCtrl.js"></script>
    <script src="js/seriesSelectorCtrl.js"></script>
    <script src="js/setupPageCtrl.js"></script>
    <script src="js/displayPageCtrl.js"></script>
    <script src="js/datePicker.js"></script>
    <script src="js/metisMenu.js"></script>
    <script src="js/sb-admin-2.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-touch.js"></script>
    <script src="js/ui-grid.js"></script>
    <style>
   .grid {
            height:800px;
        }
</style>

</head>
<body ng-app="demandForecastDemo">
<div id="wrapper" ng-controller="tabCtrl as tab">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;background-color : #1976D2">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html" style="color:#ffffff"><b>Forecasting Tool</b></a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown"  style="background-color: #ffffff">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#" style="color:#ffffff"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
        <div class="navbar-default sidebar sidebarMainPage" role="navigation" >
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>


                    <li ng-class="{active:tab.isSet(1)}">
                        <a href ng-click="tab.setTab(1)"><i class="fa fa-table fa-fw"></i>工作表信息</a>
                    </li>
                    <li ng-class="{active:tab.isSet(2)}">
                        <a href ng-click="tab.setTab(2)"><i class="fa fa-calendar fa-fw"></i>时间</a>
                    </li>
                    <li ng-class="{active:tab.isSet(3)}">
                        <a href ng-click="tab.setTab(3)"><i  class="fa fa-line-chart"></i>序列</a>
                    </li>
                    <li ng-class="{active:tab.isSet(4)}">
                        <a href ng-click="tab.setTab(4)"><i class="fa fa-cube fa-fw"></i>维度</a>
                    </li>
                    <li ng-class="{active:tab.isSet(5)}">
                        <a href ng-click="tab.setTab(5)"><i class="fa fa-filter"></i>数据筛选</a>
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper" ng-controller = "setupPageCtrl as vm">
        <!-- /.row -->
        <div id= "workSheetInfo" class="row"  ng-show="tab.isSet(1)">
            <div class="col-lg-12">
                <h1 class="page-header">工作表信息</h1>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <form role="form" class="form-horizontal"  >
                                <div class="form-group">
                                    <label class="control-label col-sm-1" style="text-align:left">所属模块:</label>
                                    <div class="col-sm-11">
                                        <select ng-model ="view.tableName"   class="form-control">
                                            <option>所属模块1</option>
                                            <option>所属模块2</option>
                                            <option>所属模块3</option>
                                            <option>所属模块4</option>
                                            <option>所属模块5</option>
                                        </select>
                                        <p class="help-block">请选择所属模块</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-1" style="text-align:left">所属群组:</label>
                                    <div class="col-sm-11">
                                        <select ng-model ="view.userGroup" class="form-control">
                                            <option>所属群组1</option>
                                            <option>所属群组2</option>
                                            <option>所属群组3</option>
                                            <option>所属群组4</option>
                                            <option>所属群组5</option>
                                        </select>
                                        <p class="help-block">请选择所属群组</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-1" style="text-align:left">用户视图名称:</label>
                                    <div class="col-sm-11">
                                        <input  ng-model ="view.name" class="form-control" placeholder="请输入用户视图名称"/>
                                        <p class="help-block">用户视图名称</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-1" style="text-align:left">用户视图详细说明:</label>
                                    <div class="col-sm-11">
                                        <textarea  ng-model = "view.desc"  class="form-control" placeholder="请输入用户视图详细说明" style="height:100px"></textarea>
                                        <p class="help-block">用户视图详细说明</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-1" style="text-align:left">访问类型:</label>
                                    <div class="col-sm-11">
                                        <label class="radio-inline">
                                            <input ng-model="view.type" type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="public" checked>公开
                                        </label>
                                        <label class="radio-inline">
                                            <input ng-model="view.type" type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="private">私有
                                        </label>
                                    </div>


                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-1" style="text-align:left">分享链接:</label>
                                    <div class="col-sm-11">
                                        <input class="form-control" placeholder="系统生成链接" disabled/>
                                        <p class="help-block">分享链接</p>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->

        <div id= "time" class="row"  ng-show="tab.isSet(2)">
            <div class="col-lg-12">
                <h1 class="page-header">时间设置</h1>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <form role="form" class="form-horizontal"  >
                                <div class="form-group">
                                    <label class="control-label col-sm-1" style="text-align:left">时间粒度:</label>
                                    <div class="col-sm-3">
                                        <select ng-model= "timeGrain"  class="form-control">
                                            <option value="yearly">年</option>
                                            <option value="quarterly">季度</option>
                                            <option value="monthly">月</option>
                                            <option value="weekly">周</option>
                                            <option value="daily">天</option>
                                        </select>
                                        <p class="help-block">请选择时间粒度</p>
                                    </div>
                                    <div class="col-sm-8"></div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-1" style="text-align:left">时间范围:</label>
                                    <div class="col-sm-10,formControl">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <input ng-model="view.relativeOrFix" type="radio" name="relativeOrFixRadio" id="relativeToday" value="relativeToday" checked>相对于今天
                                            </div>
                                            <div class="col-sm-5">
                                                <input ng-model="view.relativeOrFix" type="radio" name="relativeOrFixRadio" id="Fix" value="fix" >固定时间范围
                                            </div>
                                        </div>
                                    </div>

                                    <label class="control-label col-sm-1" style="text-align:left"></label>
                                    <div class="col-lg-10,formControl">
                                        <div class="row">
                                            <div class="col-sm-1">从:</div>
                                            <div class="col-lg-4">
                                                <select ng-disabled = "view.relativeOrFix != 'relativeToday'" ng-model ="view.From"  ng-options="x for x in timeRangeNeg" class="selectpicker">
                                                </select>
                                            </div>
                                            <div class="col-sm-1">从：</div>
                                            <div class="col-lg-4" >
                                                <input ng-disabled = "view.relativeOrFix!='fix'" ng-model ="view.From" type="text" datepicker  />
                                            </div>
                                        </div>
                                    </div>

                                    <label class="control-label col-sm-1" style="text-align:left"></label>
                                    <div class="col-lg-10,formControl">
                                        <div class="row">
                                            <div class="col-sm-1">到：</div>
                                            <div class="col-lg-4">
                                                <select ng-disabled = "view.relativeOrFix != 'relativeToday'"  ng-model ="view.To" ng-options="x for x in timeRangePos" class="selectpicker">

                                                </select>
                                            </div>
                                            <div class="col-sm-1">到：</div>
                                            <div class="col-lg-4" >
                                                <input ng-disabled = "view.relativeOrFix != 'fix'" ng-model ="view.To" type="text" datepicker  />
                                            </div>
                                        </div>
                                    </div>

                                    <label class="control-label col-sm-1" style="text-align:left"></label>
                                    <div class="col-sm-10,formControl">
                                        <div class="row">
                                            <div class="col-sm-10"> <input ng-model="view.relativeOrFix" type="radio" name="relativeOrFixRadio" id="relativeTolastSale" value="relativeTolastSale" >固定时间范围</div>
                                        </div>
                                    </div>

                                    <label class="control-label col-sm-1" style="text-align:left"></label>
                                    <div class="col-lg-10,formControl">
                                        <div class="row">
                                            <div class="col-sm-1">从：</div>
                                            <div class="col-lg-4">
                                                <select ng-disabled = "view.relativeOrFix != 'relativeTolastSale'" ng-options="x for x in timeRangeNeg" ng-model ="view.From" class="selectpicker">
                                                </select>
                                            </div>
                                            <div class="col-sm-1">到：</div>
                                            <div class="col-lg-4" >
                                                <select ng-disabled = "view.relativeOrFix != 'relativeTolastSale'" ng-model ="view.To" ng-options="x for x in timeRangePos" class="selectpicker">
                                                </select>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </form>
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id= "series" class="row"  ng-show="tab.isSet(3)">
            <div class="col-lg-12">
                <h1 class="page-header">序列</h1>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            DataTables Advanced Tables
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Kitchen Sink
                                        </div>
                                        <!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <select size="5" multiple ng-model="allMeasures" ng-options="measure as measure.name for measure in measures" class="col-lg-12"></select>
                                            <!-- /.table-responsive -->
                                        </div>
                                        <!-- /.panel-body -->
                                    </div>
                                    <!-- /.panel -->
                                </div>
                                <!-- /.col-lg-6 -->
                                <div class="col-lg-4" align="center">
                                    <div class="row">
                                        <div class="col-lg-5"></div>
                                        <div class="col-lg-2">
                                            <button id="moveright" class="btn btn-default btn-block" style="border:0px" ng-click="moveItem(allMeasures[0], measures,selectedMeasures)"><a class="fa fa-angle-right" aria-hidden="true"></a></button>
                                        </div>
                                        <div class="col-lg-5"></div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5"></div>
                                        <div class="col-lg-2">
                                            <button id="moverightall" class="btn btn-default btn-block" style="border:0px" ng-click="moveAll(measures,selectedMeasures)" ><a class="fa fa-angle-double-right" aria-hidden="true"></a></button>
                                        </div>
                                        <div class="col-lg-5"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5"></div>
                                        <div class="col-lg-2">
                                            <button id="move left" class="btn btn-default btn-block"  style="border:0px" ng-click="moveItem(selectedMeasures[0], selectedMeasures,measures)" ><a class="fa fa-angle-left" aria-hidden="true"></a></button>
                                        </div>
                                        <div class="col-lg-5"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5"></div>
                                        <div class="col-lg-2"><button id="moveleftall" style="border:0px" class="btn btn-default btn-block" ng-click="moveAll(selectedMeasures,measures)" ><a class="fa fa-angle-double-left" aria-hidden="true"></a></button>
                                        </div>
                                        <div class="col-lg-5"></div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Basic Table
                                        </div>
                                        <!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <select size="5" multiple ng-model="movedMeasures" ng-options="measure as measure.name for measure in selectedMeasures"  class="col-lg-12"></select>
                                            {{selectedMeasures}}
                                            <!-- /.table-responsive -->
                                        </div>
                                        <!-- /.panel-body -->
                                    </div>
                                    <!-- /.panel -->
                                </div>
                                <!-- /.col-lg-6 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id= "dimension" class="row"  ng-show="tab.isSet(4)">
            <div class="col-lg-12">
                <h1 class="page-header">维度</h1>
            </div>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body" >
                            <div cg-busy="vm.promise">
                                <toaster-container></toaster-container>
                                <div class="panel panel-default">
                                    <div class="panel-heading"><i class="glyphicon"></i>Dimensions</div>
                                    <div class="panel-body">
                                        <div id="dimensions" js-tree="vm.treeConfig" should-apply="false"
                                             ng-model="vm.dimensionTreeData" tree="vm.dimensionsTree" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4"></div>

            </div>
        </div>


        <div id= "filter" class="row"  ng-show="tab.isSet(5)">
            <div class="col-lg-12">
                <h1 class="page-header">Filter</h1>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body" >
                            <div cg-busy="vm.promise">
                                <toaster-container></toaster-container>
                                <div class="panel panel-default">
                                    <div class="panel-heading"><i class="glyphicon"></i>Dimensions</div>
                                    <div class="panel-body">
                                        <div id="filters" js-tree="vm.filterTreeConfig" should-apply="false"
                                             ng-model="vm.filterTreeData" tree="vm.filterTree" tree-events="changed.jstree:selection_nodeCB" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Available Values
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <select size="5" multiple ng-model="availableDimensionsSelected" ng-options="level as level.name for level in availableDimensions" class="col-lg-12"></select>
                            <button class="col-lg-1 btn btn-success btn-block" ng-click="addFilters()" >添加</button>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body" >
                                <div class="panel panel-default">
                                    <div class="panel-heading"><i class="glyphicon"></i>Filters</div>
                                    <table class="panel-body">
                                        <tr class="row" ng-repeat="(key, value) in filters">
                                            <td class="col-lg-4">{{key + (value.length >1 ? " in ":" = ")}}   </td>
                                            <td ng-repeat="val in value">
                                                 {{ value.length == 1 ? val :($index == 0 ? "(" + val + "," : ($index==value.length-1 ? val + ")" : val + "," ))}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                        </div>
                    </div>
                </div>


        </div>


    </div>
        <div class="form-group row">
            <div class="col-lg-3"></div>
            <div class="col-lg-1" ><button class="btn btn-success btn-block" ng-click="save()" >保存工作表</button> </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-1" ><button class="btn btn-default btn-block" >放弃修改</button> </div>
            <div class="col-lg-3"></div>
        </div>

    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

</body>


</html>
